@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Instrument Sans';
  @apply flex flex-col justify-start bg-[#f8f8f8] pt-[64px] pb-[200px] min-h-screen;
  @apply px-4 md:px-[256px] lg:px-[350px]; /* padding horizontal responsivo */
}

/* animations */
@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes spin-reverse-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

.animate-spin-reverse-slow {
  animation: spin-reverse-slow 10s linear infinite;
}